<html>

<head>
    <title>GOL Case Dev - Matheus Rodrigues</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-gray-100">
    <nav class="bg-gray-800 p-4 w-full">
        <div class="container mx-auto flex flex-row justify-center items-center">
            <a href="/" class="text-white text-center font-bold p-2">GOL Case Dev</a>
            <div class="flex flex-row sm:mt-0 ml-auto">
                {% if current_user.is_authenticated %}
                <a href="/logout" class="text-white p-2 text-center">Logout</a>
                {% else %}
                <a href="/login" class="text-white p-2 text-center">Login</a>
                <a href="/register" class="text-white p-2 text-center">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid mx-auto main-content">
        {% block content %}{% endblock %}
    </div>
</body>

<script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="static/script.js"></script>

</html>